nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #383838;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff3131;
}

body{
    margin: 0;
    background-color: #797979;
}

#icon{
    width: 65px;
}

#noticias{
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.noticia {
    
    margin: 12px;
    text-align: center;
    text-overflow: clip;

    background-color: #383838;
    color: #ff3131;
    border: 2px solid #202020;

}

.img-noticia {
    width: 400px;
}

#titulo_escalacao {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#jogadores {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.jogador {
    text-align: center;
}

.escalacao {
    text-align: center;
    border-radius: 40px;

    background-color: rgb(94, 138, 209);
    margin: 40px;
}

.icone-escalação {
    width: 65px;
}

footer {
    padding: 10px;
    text-align: center;

    background-color: #383838;
    color: #ff3131;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}